<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
</head>

<body>

  <h1>Welcome To Mobile Gallery</h1>


  <% if (user) { %>
    
      <th> <button><a href="/mobiles" style="text-decoration:none">All Posts</a></button>
      </th>
    <% } else { %>

      <table style="width:100%">

        <tr>
          <button><a href="/auth/google" class="login" style="text-decoration:none">LOG IN WITH GOOGLE&nbsp;</a></button>
          </td>

        </tr>
        <tr>
          <th> <button><a href="/mobiles" style="text-decoration:none">Recent Posts</a></button>
          </th>

        </tr>
      </table>


      <% } %>

</body>

</html>