<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/styleForLandingPage.css' />
</head>

<body>
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  <div class="content">
    <img style="width: 200px; height: 200px;" src="/images/logo.png">

    <h1>Welcome To Mobile Gallery</h1>


    <% if (user) { %>

      <th> <button><a href="/mobiles" style="text-decoration:none">All Posts</a></button>
      </th>
      <% } else { %>

        <table style="width:100%">
          <tr>
            <th> <button><a href="/mobiles" style="text-decoration:none">Recent Posts</a></button>
            </th>
          </tr>
        </table>

        <% } %>
  </div>
</body>

</html>