table {
    font-size: 20px;
}

table thead th {
    padding: 5px;
    border-bottom: 2px solid #424748;
}

table td {
    padding: 10px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr ;
    width: 10%;
    margin: 20px;
}

.card {
    display: grid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-left: 100px;
    margin-bottom: 50px;
    border-radius: 20px;
    padding: 20px;
    background-color: aliceblue;
}

.card:hover {
    box-shadow: 0 8px 16px 0 whitesmoke
}

.container {
    padding: 2px 16px;
}




/* *****<<<< Button's Styling >>>>****** */


* {
    list-style-type: none;
    box-sizing: border-box;
    font-family: Helvetica;
    margin: auto;
  }
  body{
    background: #2e1802;
  }
  

  ul{
    display: flex;
    width: 100%;
    height: 10vh;
    margin: auto;
    max-width: 1000px;
    justify-content: space-between;
    text-align: center;
  }

  li {
    padding: 1rem 2rem 1.15rem;
    text-transform: uppercase;
    cursor: pointer;
    min-width: 80px;
    margin: auto;
    background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
    background-size: 100% 100%;
    color: #27262c;
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 0 #a02108;
    font-weight: bold;
  }
  
  li:hover {
    background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
    background-size: 100% 100%;
    color: #27262c;
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 0 #521003;
    font-weight: bold;
  }
  li:active {
    transform: translateY(4px);
  }
  
