

body {
  margin: 0;
  height: 100vh;
}


table,
th,
td {
  border: 1px solid black;
  color: rgb(253, 208, 179);
  border-radius: 15px;
  padding: 10px;
  border-width: 3px;
  border-color: #291000;
  width: 50%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.718);
  transition: 0.3s;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
  background-color: rgba(96, 50, 0, 0.855);
  width: 60%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.feedbackCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 20px;
  padding: 5px;
  margin: auto;
  background-color: rgba(130, 63, 0, 0.797);
  width: 50%;
}

.feedbackCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}





* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background: #1E1F25;
}

ul {
  display: flex;
  width: 100%;
  height: 10vh;
  margin: auto;
  max-width: 1000px;
  justify-content: space-between;
  text-align: center;
}

li {
  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  min-width: 80px;
  margin: auto;
}

li:hover {
  background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ef816c;
  font-weight: bold;
}

li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }

  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }

  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }

  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

.shameless-plug {
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 8px 20px;

  text-decoration: none;
}






*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 5px 15px 5px 15px;
  background-color: #401e00;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #010002;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}









body{
  background: #2e1802;
}


ul{
  display: flex;
  width: 100%;
  height: 10vh;
  margin: auto;
  max-width: 1000px;
  justify-content: space-between;
  text-align: center;
}

li {
  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  min-width: 80px;
  margin: auto;
  background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #a02108;
  font-weight: bold;
}

li:hover {
  background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #521003;
  font-weight: bold;
}
li:active {
  transform: translateY(4px);
}

